/*
  
  Responsive Break Points
  -----------------------
  Extra Small       <   320
  Small             >=  576
  Medium            >=  768
  Large             >=  992
  Extra Large       >=  1200
  Extra Extra Large >=  1400
  
*/

#first-image { display: none; }

/** Extra Small */
@media screen and (max-width: 319.98px) {

}

/** Small */
@media screen and (min-width: 320px) and (max-width: 575.98px) {
  

}

/** Medium */
@media screen and (min-width: 576px) and (max-width: 767.98px) {

 
}

/** Large */
@media screen and (min-width: 768px) and (max-width: 991.98px) {


}

/** Extra Large */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

}

/** Extra Extra Large */
@media screen and (min-width: 1200px) {

  .carousel-container {

    position: relative;
    width: calc(100% - calc(var(--horizontal-margin) * 2));
    margin: 0 var(--horizontal-margin) 0 var(--horizontal-margin);
    overflow: hidden;
  } 
  
  .carousel-image {
   
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
  }

  .carousel-image-inactive {

    display: none;
  }

  .carousel-controls {

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 88%;
    width: 200px;
    height: 50px;  
    transform: translateX(-50%); 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    z-index: 1;
  }

  .carousel-button {

    width: 30px;
    height: 30px;
    color: var(--nc-grey);
    font-weight: bold;
    text-align: center;
    border: solid 4px var(--nc-grey);
    border-radius: 15px;
    padding: 2px 0 0 0;
    cursor: pointer;
  }

  .carousel-button:hover, .carousel-button-active {

    color: var(--nc-purple);
    border-color: var(--nc-purple);
  }

  .carousel-button-active {

    cursor: default;
  }

  @keyframes frames-carousel-slide-active {

    0% {

      left: var(--carousel-start-active);
    }

    100% {

      left: var(--carousel-end-active);
    }
  }

  .carousel-slide-active {

    animation-name: frames-carousel-slide-active;
    animation-duration: 1s;
  }  

  @keyframes frames-carousel-slide-inactive {

    0% {

      left: var(--carousel-start-inactive);
    }

    100% {

      left: var(--carousel-end-inactive);
    }
  }

  .carousel-slide-inactive {

    animation-name: frames-carousel-slide-inactive;
    animation-duration: 1s;
  }   

  .carousel-info-panel {

    position: absolute;
    top: 50px;
    right: 50px;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../../images/interface/tw-statue.jpg");
    box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.75);
    z-index: 1;
  }

  .carousel-info-panel h1 {

    color: var(--nc-purple);
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 13rem 0 auto 1rem;
  }

  .carousel-info-panel div {

    position: absolute;
    bottom: 0;
    background-color: var(--nc-grey);
    padding: 1.25rem;
  }

  .carousel-info-panel div p {  

    color: white;
    line-height: 1.25;
  }

  .carousel-info-panel div a {
    
    color: var(--nc-purple);
    font-weight: bold;
    text-decoration: none;
    margin: 1rem 0 0 0;
    display: block;
  }

  .carousel-info-panel div a:hover {

    color: blue;
  }
}