<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/articles.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/banner.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/learn.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/nav-menu.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/carousel.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/nav-menu.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/utility.js"></script>
    
    
    {% if page.is_interactive_map != nil %}

      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/info-panel.css">
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/interactive-map.css">

      <script type="text/javascript" src="assets/js/data.js"></script>
      <script type="text/javascript" src="assets/js/map-pin.js"></script>

    {% endif %}

    <script type="text/javascript">
    
      {% if page.is_interactive_map != nil %}

      let pins = [
        new mapPin(0, "Stainborough Castle", "sc", "label-below", null),
        new mapPin(1, "Wentworth Castle", "wc", "label-below", "wc-interactive-map.html"),
        new mapPin(2, "Wentworth Castle Gardens", "wcc", "label-below", "wc-gardens-interactive-map.html"),
        new mapPin(3, "South Avenue", "sa", "label-below", null),
        new mapPin(4, "Queen Anne Monument", "qam", "label-below", null),
        new mapPin(5, "Rockley Woodhouse", "rw", "label-below", null)
      ];

      {% endif %}

      let prefix;
      let nav;
      let carousel;

      function init() {

        prefix = "{{ site.baseurl }}";  

        let links = [
          { label: "Home", link: "{{ site.baseurl }}/index.html" },
          { label: "Learn", link: "{{ site.baseurl }}/learn.html" },
          { label: "Explore", link: "{{ site.baseurl }}/explore.html" },
          { label: "About", link: "{{ site.baseurl }}/about.html" }
        ];

        nav = new navMenu(document.getElementById("menu-toggle"), document.getElementById("menu-container"), links);
        nav.buildMenu();

        if(document.getElementById("carousel-container") !== null) {

          carousel = new imageCarousel(document.getElementById("carousel-container"), document.getElementById("carousel-controls"));
          carousel.buildCarousel();
        }

        {% if page.is_interactive_map != nil %}
        
        for(let a = 0; a < pins.length; a++)
          pins[a].buildPin(document.getElementById("map-container-grid"));

        {% endif %}
      }

    </script>
      
  </head>

  <body onload="init();">

    <div id="main" role="main" class="container">

      <nav id="nav">

        <a id="menu-toggle" class="menu-toggle">
          <img src="{{ site.baseurl }}/images/interface/menu-toggle.png">
        </a>
        
        <img class="nav-menu-image" src="{{ site.baseurl }}/images/interface/nc-logo-circle.png">

        <div id="menu-container" class="menu-container menu-container-closed"></div>

      </nav>

      <div class="banner">
        <p class="banner-title">{{ page.title }}</p>
        <p class="banner-subtitle">{{ page.description }}</p>
      </div>

      {{ content }}
        
    </div>

  </body>

</html>
